*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

@font-face {
	font-family: Futura LT;
	src: url(../font/FuturaLT.ttf);
}

body{
	font-family: Futura LT;
	height: 100%;
	background: #E5E5E5;;
}

.text-center{
	text-align: center;
}

.pointer{
	cursor: pointer;
}

.dad-grid{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 18%;
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}


.grid-child{
	background: #FF416C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 2rem;
	color: white;
}

.grid-child:hover{
	animation: 1s opacity;
}


@keyframes opacity {
	100%{
		opacity: 1;
	}
	0%{
		opacity: 0;
	}
}

@media (max-width: 450px) {
	.grid{
		display: flex;
		flex-direction: column;
	}
}